/*ESTILOS GENERALES*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: "BebasNeue-Regular";
    src: url("../fuentes/BebasNeue-Regular.ttf");
}
@font-face {
    font-family: "Ubuntu-Light";
    src: url("../fuentes/Ubuntu-Light.ttf");
}
@font-face {
    font-family: "Ubuntu-Regular";
    src: url("../fuentes/Ubuntu-Regular.ttf");
}
:root{
    --rojo: red;
    --fondo: #141414;
}
/*ESTILOS DEL MENU*/
.main{
    background-image: url(../img/player-one-principal.PNG);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 643px;
}
body{
    background-color: var(--fondo);
    width: 100%; 
    overflow-x: hidden;
}

.contenedor{
    width: 90%;
    margin: auto;
}
header{
    padding: 5px 0;
    background-color: #1414147c;
}
header .contenedor{
    display: flex;
    /*justify-content: space-between;*/
    justify-content: space-around;
    align-items: center;
}
header .logotipo{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: var(--rojo);
    font-size:40px;
    font-family: "BebasNeue-Regular", "cursive";
}
header nav{
    word-spacing: 10px;
}
header nav a{
    color: #ffffff;
    text-decoration: none;
    margin-right: 3px;
    font-family: "Ubuntu-Light";
    

}
header nav a:hover{
    color: var(--rojo);
}
.contenedor .perfil i{
    color: #ffffff;
    cursor: pointer;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #141414be;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    color: #fff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {background-color: #f1f1f18a}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}
.perfil .buscar{
    padding: 4px 25px;
    border: 1px solid #fff;
    border-radius: 6px;
    color: #fff;;
    background-color: #14141473;
}
/*ESTILOS DEL CONTENIDO DEL HEADER*/
.main .contenedor-header{
    width: 40%;
    margin-left: 60px;
    padding: 8px;
    margin-top: 70px;
    font-family: "Ubuntu-Regular";
}
.main .contenedor-header .letra_n{
    color: red;
    font-weight: bold;
    font-size: 18px;
}
.main .contenedor-header .letra_n span{
    color: #fff;
}
.contenedor-header .titulo{
    color: #fff;
    font-size: 55px;
    font-family: "Ubuntu-Regular";
}
.contenedor-header .datos_peli li{
    text-decoration: none;
    list-style-type: none;
    display: inline-block;
    padding-top: 5px;
    padding-bottom: 6px;
    color: #fff;
}
.contenedor-header .datos_peli .active{
    background-color: var(--rojo);
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 5px;
}
.datos_peli .description{
    padding-top: 8px;
    padding-bottom: 45px;
    color: #fff;
    text-align: justify;
    font-size: 15px;
}
.datos_peli .boton{
    margin: 8px;
    padding: 5px 35px;
    font-family: "Ubuntu-Regular";
}
.datos_peli .boton i {
    color: var(--rojo);
    font-size: 18px;
}
.datos_peli .btn_masInfo{
    background-color: #14141496;
    border: none;
    border: 1px solid #fff;
    border-radius: 8px;
    color: #fff;
}
.datos_peli .btn_masInfo:hover{
    background-color: #fff;
    transition: 0.5s ease-in-out;
    border: 1px solid #000;
    color: #000;
}
/*****************  CONTENEDOR DE TITULO Y CONTROLES   ***********************/
.contenedor-titulo-controles{
    display: flex;
    justify-content: space-between;
    align-items: end;
}
.contenedor-titulo-controles h3{
    color: #fff;
    font-size: 20px;
    padding-top: 8px;
    padding-bottom: 8px;
    font-family: "Ubuntu-Regular";
}
.contenedor-titulo-controles .indicadores button{
    background: #fff;
    height: 3px;
    width: 15px;
    cursor: pointer;
    border: none;
    margin-right: 2px;
}
.contenedor-titulo-controles .indicadores button:hover,
.contenedor-titulo-controles .indicadores button.activo{
    background: red;
}

/***********  CONTENEDOR PIRNCIPAL Y FLECHAS ******************/
.peliculas-recomendadas{
    margin-bottom: 70px;
}
.peliculas-recomendadas .contenedor-principal{
    display: flex; /*tranformos todos los elementos auna linea horizontal.*/
    align-items: center;
    position: relative;
}
.peliculas-recomendadas .contenedor-principal .flecha-izquierda,
.peliculas-recomendadas .contenedor-principal .flecha-derecha{
    position: absolute;
    border: none;
    background: rgba(0, 0, 0, 0.705);
    font-size: 40px;
    height: 50%;
    top: calc(50% - 25%);
    line-height: 40px;
    width:50px;
    color: #fff;
    cursor: pointer;
    z-index: 500; /*para que al flecha quede arriba de lso elementos*/
    transition: .2s ease all; 
}
.peliculas-recomendadas .contenedor-principal .flecha-izquierda:hover,
.peliculas-recomendadas .contenedor-principal .flecha-derecha:hover{
    color: var(--rojo);
}
.peliculas-recomendadas .contenedor-principal .flecha-izquierda{
    left: 0;
}
.peliculas-recomendadas .contenedor-principal .flecha-derecha{
    right: 0;
}
/*****************  CARUSEL  ************************/
.peliculas-recomendadas .contenedor-carousel{
    width: 100%;
    padding: 20px 0; 
    overflow: hidden;/*lo que se salga del 100% que este oculto*/
    scroll-behavior: smooth; /*el scrol se suabe*/
}
.peliculas-recomendadas .contenedor-carousel .carousel{
    display: flex;
    flex-wrap: nowrap; /*para que las imagenes esten en fila todas*/
}
.peliculas-recomendadas .contenedor-carousel .carousel .pelicula{
    min-width: 20%;
    transition:.3s ease all; 
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .3);
}
.peliculas-recomendadas .contenedor-carousel .carousel .serie{
    min-width: 20%;
    transition:.3s ease all; 
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .3);
}
/********** EFECTO HOVER PARA QUE LAS PELI CRESCA  *******************/
.peliculas-recomendadas .contenedor-carousel .carousel .pelicula.hover{
    transform: scale(1.1);
    transform-origin: center; /*Para que la img cresca de dentro hasia fuera*/
}
.peliculas-recomendadas .contenedor-carousel .carousel .serie:hover{
    transform: scale(1.1);
    transform-origin: center; /*Para que la img cresca de dentro hasia fuera*/
}
/*para que las peliculas en el carusel se acomoden*/
.peliculas-recomendadas .contenedor-carousel .carousel .pelicula img{
    width: 100%;
    vertical-align: top;
    border-radius: 15px;
}
.peliculas-recomendadas .contenedor-carousel .carousel .serie img{
    width: 100%;
    vertical-align: top;
    border-radius: 15px;
}
.contenedor-carousel .carousel .pelicula .card{
    position: absolute;
    width: 15.3em;
    top: 0;
    visibility: hidden;
    background-color: #141414c5;
    border-radius: 15px;
    /*width: auto;*/
    height: 100%;
}
.contenedor-carousel .carousel .serie .card{
    position: absolute;
    width: 15.3em;
    top: 0;
    visibility: hidden;
    background-color: #141414c5;
    border-radius: 15px;
    /*width: auto;*/
    height: 100%;
}
.contenedor-carousel .carousel .pelicula.hover .card{
    visibility: visible;
    display: block;
    color: #fff;
    padding-left: 30px;
    padding-top: 50px;
}
.contenedor-carousel .carousel .serie:hover .card{
    visibility: visible;
    display: block;
    color: #fff;
    padding-left: 30px;
    padding-top: 50px;
}
.contenedor-carousel .carousel .pelicula.hover .card h4{
    font-size: 18px;
    padding: 5px;
    font-family: "BebasNeue-Regular";
}
.contenedor-carousel .carousel .serie:hover .card h4{
    font-size: 18px;
    padding: 5px;
    font-family: "BebasNeue-Regular";
}
.contenedor-carousel .carousel .pelicula.hover .card h5{
    font-size: 12px;
    padding: 5px;
    font-family: "Ubuntu-Regular";
}
.contenedor-carousel .carousel .serie:hover .card h5{
    font-size: 12px;
    padding: 5px;
    font-family: "Ubuntu-Regular";
}
.contenedor-carousel .carousel .pelicula.hover .card h5 span{
    color: #1ce43d;
    font-size: 15px;
    font-family: "Ubuntu-Regular";
}
.contenedor-carousel .carousel .serie:hover .card h5 span{
    color: #1ce43d;
    font-size: 15px;
    font-family: "Ubuntu-Regular";
}
.contenedor-carousel .carousel .pelicula.hover .card p{
    font-size: 12px;
    text-align: justify;
    padding: 3px;
    margin-right: 15px;
    font-family: "Ubuntu-Regular";
}
.contenedor-carousel .carousel .serie:hover .card p{
    font-size: 12px;
    text-align: justify;
    padding: 3px;
    margin-right: 15px;
    font-family: "Ubuntu-Regular";
}
.contenedor-carousel .carousel .pelicula.hover .card button{
    border: none;
    border-radius: 5px;
    display: block;
    margin: auto;
    margin-bottom: 3px;
    padding: 6px 20px;
    cursor: pointer;
    border: 1px solid #fff;
    background-color: #14141494;
    color: #fff;
}
.contenedor-carousel .carousel .serie:hover .card button{
    border: none;
    border-radius: 5px;
    display: block;
    margin: auto;
    margin-bottom: 3px;
    padding: 6px 20px;
    cursor: pointer;
    border: 1px solid #fff;
    background-color: #14141494;
    color: #fff;
}
.contenedor-carousel .carousel .pelicula.hover .card button:hover{
    background-color: #fff;
    color: #000;
}
.contenedor-carousel .carousel .serie:hover .card button:hover{
    background-color: #fff;
    color: #000;
}
.contenedor-carousel .carousel .pelicula.hover .card button i{
    font-size: 15px;
    color: var(--rojo);
}
.contenedor-carousel .carousel .serie:hover .card button i{
    font-size: 15px;
    color: var(--rojo);
}
/***************** Footter  ***************************************/
.footer{
    width: 100%;
    background-color:#080808be;
    font-family: "Ubuntu-Regular";
}
.container{
    max-width: 90%;
    margin: auto;
}
.row{
    width: 100%;
    padding-top: 20px;
    padding-bottom: 40px;
    display: flex;
    flex-wrap: wrap;
}
.row .footer-col ul{
    list-style: none;
}
.footer-col{
    width: 25%;
    padding: 0 15px;
}

.footer-col h4{
    font-size: 16px;
    color: #fff;
    padding-top: 10px;
    text-transform: capitalize;
    margin-bottom: 10px;
    position: relative;
}
.footer-col h4::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    background-color: var(--rojo);
    height: 2px;
    box-sizing: border-box;
    width: 100px;
}
.footer-col ul li:not(:last-child){
    margin-bottom: 8px;
}
.footer-col ul li a{
    text-decoration: none;
    color: #fff;
    text-transform: capitalize;
    font-size: 15px;
    display: block;
    transition: all 0.5s ease;
}
.footer-col ul li a:hover{
    color: #ffffffb6;
    padding-left: 10px;
}
.footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: #18181896;
    margin-right: 10px;
    margin-top: 5px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #fff;
    transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
    color: #24262b;
    background-color: #fff;
}
.footer-col button{
    margin-top: 10px;
    padding: 6px 20px;
    background-color: #14141493;
    border: none;
    border: 1px solid #fff;
    transition: all 0.5s ease;
}
.footer-col button a{
    text-decoration: none;
    color: #fff;
}
.footer-col button:hover{
    border: 1px solid #000;
    background-color: #fff;
}
.footer-col button:hover a{
    color: #000;
}





/**************************************************************************/
/************************  VENTANA MODAL **********************************/

.modal-container {
    display: flex;
    background-color: #000000ad;
    align-items: center;
    justify-content: center;
    position: fixed;
    pointer-events: none;
    opacity: 0;  
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    transition: opacity 0.3s ease;
  }
  
  .show {
    pointer-events: auto;
    opacity: 1;
  }
  
  .modal {
    background-color: #141414;
    width: 70%;
    max-width: 100%;
    padding: 30px 50px;
    border-radius: 5px;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.425);
    text-align: center;
}

.modal-container .modal button{
    padding: 3px 15px;
    display: absolute;
    border-radius: 100%;
    position: absolute;
    right: 240px;
    top: 20px;
    border: none;
    color: var(--rojo);
    font-size: 18px;
    font-weight: bold;
    background-color: #141414be;
}
.modal-container .modal button:hover{
    color: #fff;
}
.modal video{
    border-radius: 10px;
}
.modal-container .modal .info-datos-peli{
    display: flex;
    flex-wrap: wrap;
}
.modal-container .modal .info-datos-peli .datos-info{
    color: #fff;
    font-family: "Ubuntu-Regular";
    font-size: 25px;
    font-weight: normal;
    padding: 20px 0;
    padding-left: 10px;
    margin: 10px;
}
.modal-container .modal .info-datos-peli .datos-info h3{
    color: #fff;
    font-size: 45px;
}

.modal-container .modal .info-datos-peli .datos-info ul .color-verde{
    color: #1ce43d;
}


.modal-container .modal .info-datos-peli .datos-info ul li{
    font-size: 12px;
    list-style: none;
    display: inline-block;
}
.modal-container .modal .info-datos-peli .datos-info ul .cuadro{
    border: 1px solid #fff;
    padding: 3px;
}
.modal-container .modal .info-datos-peli .datos-info p{
    font-size: 13px;
    padding: 8px;
    text-align: justify;
}














/************* MEDIA QUERES DEL MENU  *************************************/
@media screen and (max-width: 800px) {
    header .logotipo{
        margin-bottom: 18px;
    }
    header .contenedor{
        /*CAMBIA EL MENU DE HORINZONTAL A VERTICAL ES DECIR DE LINE-BOCK A BLOCK*/
        flex-direction: column;
        text-align: center;
    }
    .contenedor .perfil{
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .main .contenedor-header{
        width: 70%;
        margin-left: 10px;
    }
    .main .contenedor-header .letra_n{
        font-size: 10px;
    }
    .contenedor-header .titulo{
        font-size: 30px;
    }
    .contenedor-header .datos_peli li{
        font-size: 12px;
    }
    .datos_peli .description{
        font-size: 13px;
    }
    /************ MEDIA QUERES DEL CAROUSEL -SLIDER **************************/
    .peliculas-recomendadas .contenedor-carousel{
        overflow: hidden;
    }
    .peliculas-recomendadas .contenedor-carousel .carousel{
        display: grid;
        grid-template-columns: repeat(3, 1fr);/*cada columana va aavarcar lo mismo*/
        gap: 20px; /*espaciado entre img*/
    }
    .peliculas-recomendadas .indicadores,
    .peliculas-recomendadas .flecha-izquierda,
    .peliculas-recomendadas .flecha-derecha{
        display: none; /*ocultamos indicadores y flechas*/
    }
    /**********  EFECTO HOVER de imagenes de carousel *******************/
    .contenedor-carousel .carousel .pelicula .card{
        width: 14.3em;
    }
    .contenedor-carousel .carousel .serie .card{
        width: 14.3em;
    }
    .contenedor-carousel .carousel .pelicula.hover .card h4{
        font-size: 16px;
    }
    .contenedor-carousel .carousel .serie:hover .card h4{
        font-size: 16px;
    }
    .contenedor-carousel .carousel .pelicula.hover .card h5{
        font-size: 11px;
    }
    .contenedor-carousel .carousel .serie:hover .card h5{
        font-size: 11px;
    }
    .contenedor-carousel .carousel .pelicula.hover .card h5 span{
        font-size: 12px;
    }
    .contenedor-carousel .carousel .serie:hover .card h5 span{
        font-size: 12px;
    }
    .contenedor-carousel .carousel .pelicula.hover .card p{
        font-size: 12px;
        text-align: justify;
        padding: 5px;
        padding-right: 10px;
    }
    .contenedor-carousel .carousel .serie:hover .card p{
        font-size: 12px;
        text-align: justify;
        padding: 5px;
        padding-right: 10px;
    }
    .contenedor-carousel .carousel .pelicula.hover .card button{
        padding: 4px 15px;
    }
    .contenedor-carousel .carousel .serie:hover .card button{
        padding: 4px 15px;
    }
}