/*ESTILOS GENERALES*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*
font-family: 'Bebas Neue', cursive;
font-family: 'Ubuntu', sans-serif;
*/
:root{
    --rojo: red;
    --fondo: #141414;
}
/*ESTILOS DEL MENU*/
.main{
    background-image: url(../img/player-one-principal.PNG);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 643px;
}
body{
    background-color: var(--fondo);
}

.contenedor{
    width: 90%;
    margin: auto;
}
header{
    padding: 5px 0;
    background-color: #1414147c;
}
header .contenedor{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .logotipo{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: var(--rojo);
    font-size:40px
}
header nav{
    word-spacing: 10px;
}
header nav a{
    color: #ffffff;
    text-decoration: none;
    margin-right: 3px;
}
header nav a:hover{
    color: var(--rojo);
}
.contenedor .perfil i{
    color: #ffffff;
}

.perfil .buscar{
    padding: 4px 25px;
    border: 1px solid #fff;
    border-radius: 6px;
    color: #fff;;
    background-color: #14141473;
}
/*ESTILOS DEL CONTENIDO DEL HEADER*/
.main .contenedor-header{
    width: 40%;
    margin-left: 60px;
    padding: 8px;
    margin-top: 70px;
}
.main .contenedor-header .letra_n{
    color: red;
    font-weight: bold;
    font-size: 18px;
}
.main .contenedor-header .letra_n span{
    color: #fff;
}
.contenedor-header .titulo{
    color: #fff;
    font-size: 55px;
}
.contenedor-header .datos_peli li{
    text-decoration: none;
    list-style-type: none;
    display: inline-block;
    padding-top: 5px;
    padding-bottom: 6px;
    color: #fff;
}
.contenedor-header .datos_peli .active{
    background-color: var(--rojo);
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 5px;
}
.datos_peli .description{
    padding-top: 8px;
    padding-bottom: 45px;
    color: #fff;
    text-align: justify;
    font-size: 15px;
}
.datos_peli .boton{
    margin: 8px;
    padding: 5px 35px;
}
.datos_peli .boton i {
    color: var(--rojo);
    font-size: 18px;
}
.datos_peli .btn_masInfo{
    background-color: #14141496;
    border: none;
    border: 1px solid #fff;
    border-radius: 8px;
    color: #fff;
}
.datos_peli .btn_masInfo:hover{
    background-color: #fff;
    transition: 0.5s ease-in-out;
    border: 1px solid #000;
    color: #000;
}
/*****************  CONTENEDOR DE TITULO Y CONTROLES   ***********************/
.contenedor-titulo-controles{
    display: flex;
    justify-content: space-between;
    align-items: end;
}
.contenedor-titulo-controles h3{
    color: #fff;
    font-size: 20px;
    padding-top: 8px;
    padding-bottom: 8px;
}
.contenedor-titulo-controles .indicadores button{
    background: #fff;
    height: 3px;
    width: 15px;
    cursor: pointer;
    border: none;
    margin-right: 2px;
}
.contenedor-titulo-controles .indicadores button:hover,
.contenedor-titulo-controles .indicadores button.activo{
    background: red;
}
/***********  CONTENEDOR PIRNCIPAL Y FLECHAS ******************/
.peliculas-recomendadas{
    border: 1px solid yellow;
    margin-bottom: 70px;
}
.peliculas-recomendadas .contenedor-principal{
    display: flex; /*tranformos todos los elementos auna linea horizontal.*/
    align-items: center;
    position: relative;
}
.peliculas-recomendadas .contenedor-principal .flecha-izquierda,
.peliculas-recomendadas .contenedor-principal .flecha-derecha{
    position: absolute;
    border: none;
    background: rgba(0, 0, 0, 0.705);
    font-size: 40px;
    height: 50%;
    top: calc(50% - 25%);
    line-height: 40px;
    width:50px;
    color: #fff;
    cursor: pointer;
    z-index: 500; /*para que al flecha quede arriba de lso elementos*/
    transition: .2s ease all; 
}
.peliculas-recomendadas .contenedor-principal .flecha-izquierda:hover,
.peliculas-recomendadas .contenedor-principal .flecha-derecha:hover{
    color: var(--rojo);
}
.peliculas-recomendadas .contenedor-principal .flecha-izquierda{
    left: 0;
}
.peliculas-recomendadas .contenedor-principal .flecha-derecha{
    right: 0;
}
/*****************  CARUSEL  ************************/
.peliculas-recomendadas .contenedor-carousel{
    width: 100%;
    padding: 20px 0; 
    overflow: hidden;/*lo que se salga del 1005 que este oculto*/
    scroll-behavior: smooth; /*el scrol se suabe*/
}
.peliculas-recomendadas .contenedor-carousel .carousel{
    display: flex;
    flex-wrap: nowrap; /*para que las imagenes esten en fila todas*/
}
.peliculas-recomendadas .contenedor-carousel .carousel .pelicula{
    min-width: 20%;
    transition:.3s ease all; 
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .3);
}
.peliculas-recomendadas .contenedor-carousel .carousel .pelicula.hover{
    transform: scale(1.2);
    transform-origin: center; /*Para que la img cresca de desntro hasia fuera*/
}
/*para que las peliculas en el carusel se acomoden*/
.peliculas-recomendadas .contenedor-carousel .carousel .pelicula img{
    width: 100%;
    vertical-align: top;
}
/************* MEDIA QUERES DEL MENU  *************************************/
@media screen and (max-width: 800px) {
    header .logotipo{
        margin-bottom: 18px;
    }
    header .contenedor{
        /*CAMBIA EL MENU DE HORINZONTAL A VERTICAL ES DECIR DE LINE-BOCK A BLOCK*/
        flex-direction: column;
        text-align: center;
    }
    .contenedor .perfil{
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .main .contenedor-header{
        width: 70%;
        margin-left: 10px;
    }
    .main .contenedor-header .letra_n{
        font-size: 10px;
    }
    .contenedor-header .titulo{
        font-size: 30px;
    }
    .contenedor-header .datos_peli li{
        font-size: 12px;
    }
    .datos_peli .description{
        font-size: 13px;
    }
    /************ MEDIA QUERES DEL CAROUSEL -SLIDER **************************/
    .peliculas-recomendadas .contenedor-carousel{
        overflow: hidden;
    }
    .peliculas-recomendadas .contenedor-carousel .carousel{
        display: grid;
        grid-template-columns: repeat(3, 1fr);/*cada columana va aavarcar lo mismo*/
        gap: 20px; /*espaciado entre img*/
    }
    .peliculas-recomendadas .indicadores,
    .peliculas-recomendadas .flecha-izquierda,
    .peliculas-recomendadas .flecha-derecha{
        display: none; /*ocultamos indicadores y flechas*/
    }
}